$res_mobile : "(max-width: 480px)";
$res_tablet : "(min-width: 481px) and (max-width: 768px)";
$res_pclow : "(min-width: 769px)";
$res_pcmedium : "(max-width: 1366px)";


@mixin responsive_mobile() {
  @media #{$res_mobile} {
    @content;
  }
}

@mixin responsive_tablet() {
  @media #{$res_tablet} {
    @content;
  }
}

@mixin responsive_pclow() {
  @media #{$res_pclow} {
    @content;
  }
}

@mixin responsive_pcmedium() {
  @media #{$res_pcmedium} {
    @content;
  }
}


@font-face {
  font-family: UTM-Avo;
  src: url('../font/UTM-Avo.ttf');
}

@font-face {
  font-family: UTM_AvoBold;
  src: url('../font/UTM-AvoBold.ttf');
}

@font-face {
  font-family: UTM_AvoBold_Italic;
  src: url('../font/UTM-AvoBold_Italic.ttf');
}

@font-face {
  font-family: UTM_Avo-Italic;
  src: url('../font/UTM-AvoItalic.ttf');
}