$black: #000;
$white: #fff;
$glass: #ffffff80;
$darkblue: #021c2c;
$darkblues: #01121c;
$lightupblue: #DEF9FA;
$lightblue: #29c6f6;
$lightblueup: #53d2f8;
$lightbluedown: #035f7a;
$gray: #ffffffb3;
$blue: #00026e;
$light: #ffffff13;
$Orchid: #3F3E45;
$lotus: #e450ff;
$bluedark: #0B3551;
$bluedarks:#002B49;
$glassblur: #ffffff33;